.checkout__product {
    display: flex;
    margin: 20px 10px 20px 10px;
    color: black;
}

.checkout__productInfo {
    padding-left: 20px;
    flex: 60%;
    position: relative;
}

.checkout__productRating {
    display: flex;
}

.checkout__productInfo > button {
    background-color: rgb(254,189,105);
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    font-weight: 600;
    border-radius: 2px;
    margin-top: 10px;
    color: black;
}

.checkout__productImage {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkout_productTitle {
    font-size: 13px;
    font-weight: 800;
}

.iconDelete {
    color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.iconEdit {
    position: absolute;
    bottom: 0;
    right: 30px;
    cursor: pointer;
}